@model SponsorAnAFSer.Models.StudentWidget
@{ string currHost = "https://donatew.afsusa.org/donation/";}
@{ string currUrl = "http://donatew.afsusa.org/SponsorAnAFSer/";}
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_XmlLayout.cshtml";
}

<div id="panel-header">
     <strong>@Model.DisplayName</strong>
</div>
 <div id="panel-content">
     <div id="panel-inner-content">
        <div>
                                             
        <table style="float:left; margin-left: 10px;">   
            <tr>
                <td>
                    <div id="panel-blurb">To help @Model.FirstName raise money to study abroad in @Model.DestinationCountry, click the Donate Now button below to make a non tax-deductible donation.</div>
                </td>
            </tr>                            
        </table>
        <div style="clear: both;"></div><br />
            <div id="donateNow" style="margin: auto; text-align: center;">
                @if (@Model.EnabledStatus == 1)
                {
                    <a href="@currHost/main/index?widgetId=@Model.StudentWidgetId" target="_blank">DONATE NOW!</a>
                }
                else
                {
                    <span>DONATIONS CLOSED</span>
                }
            </div><br />
    </div>
    <div id="gauge" style="margin: auto; text-align: center; font-weight: bold;"></div><br />
    <div style="margin: auto; text-align: center; font-weight: bold;">@String.Format("{0:c}", ViewBag.Donations) of @String.Format("{0:c}", Model.FundraisingAmount) raised!</div>
    <div id="logo-holder"><img id="logo" src="@currUrl/assets/img/afsusalogo_small.png"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function initGadget() {

            google.setOnLoadCallback(function () {
                $(document).ready(function () {
                    var theme = "energyblue",
                            majorTicks = { size: '10%', interval: 10 },
                            minorTicks = { size: '5%', interval: 2.5, style: { 'stroke-width': 1, stroke: '#aaaaaa'} },
                            labels = { interval: 20, position: 'far', visible: false };
                    $('#gauge').jqxLinearGauge({
                        orientation: 'horizontal',
                        height: '40px',
                        width: '160px',
                        labels: labels,
                        ticksMajor: majorTicks,
                        ticksMinor: minorTicks,
                        ticksPosition: 'far',
                        max: 100,
                        min: 0,
                        value: @ViewBag.Percentage,
                        pointer: { size: '6%' },
                        colorScheme: 'scheme05',
                        theme: theme
                    });

                    $('#donateNow').jqxButton({ width: 95, theme: theme });

                });
            });

        }

        gadgets.util.registerOnLoadHandler(initGadget);
        </script>
}