@model SponsorAnAFSer.Models.StudentWidget

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>StudentWidget</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Srn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Srn)
            @Html.ValidationMessageFor(model => model.Srn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProgramRefCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProgramRefCode)
            @Html.ValidationMessageFor(model => model.ProgramRefCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DestinationCountry)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DestinationCountry)
            @Html.ValidationMessageFor(model => model.DestinationCountry)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FundraisingAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FundraisingAmount)
            @Html.ValidationMessageFor(model => model.FundraisingAmount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DisplayName)
            @Html.ValidationMessageFor(model => model.DisplayName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BlogUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlogUrl)
            @Html.ValidationMessageFor(model => model.BlogUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnabledStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnabledStatus)
            @Html.ValidationMessageFor(model => model.EnabledStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AmountRaised)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AmountRaised)
            @Html.ValidationMessageFor(model => model.AmountRaised)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
