@using SponsorAnAFSer.Models
@model SponsorAnAFSer.Models.StudentWidget

@{
    ViewBag.Title = "Edit";
}

<div class="container">
		<div class="row">
			<div class="span3"></div>
			<div class="span5">
				<form action="#" class="form-horizontal">
					<fieldset>
						<legend>Widget: Marco Beard @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</legend>
						<div class="box">
							<div>
								<span class="span2">Name: </span><span>@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</span>
							</div>
							<div>
								<span class="span2">Service Ref. Number: </span><span>@Html.DisplayFor(m => m.ServiceId)</span>
							</div>
							<div>
								<span class="span2">Program Code: </span><span>@Html.DisplayFor(m => m.ProgramRefCode)</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="destCountry">Dest. Country:</label> 
							<div class="controls">
								<input class="span2" id="destCountry" type="text" placeholder="Dest. Country" value="@Model.DestinationCountry"/>
							</div>
						</div>
						<div class="control-group input-prepend">
							<label class="control-label" for="fundraisingAmt">Fundraising Amt:</label> 
							<div class="controls">
								<span class="add-on">$</span><input class="span1" id="fundraisingAmt" type="text" placeholder="Amount" value="@Model.FundraisingAmount" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="endDate">Widget End Date:</label> 
							<div class="controls">
								<input class="span2" id="endDate" type="text" placeholder="End Date" value="@Model.EndDate" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="displayName">Display Name:</label> 
							<div class="controls">
								<input class="span2" id="displayName" type="text" placeholder="Display Name" value="@Model.DisplayName" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="blogURL">Blog URL:</label> 
							<div class="controls">
								<input class="span3" id="blogURL" type="text" placeholder="Blog URL" value="@Model.BlogUrl" />
							</div>
						</div>
						<div class="form-actions">
						  <button type="submit" class="btn btn-primary">Save changes</button>
						  <button type="button" class="btn">Cancel</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="span2">
			</div>
			<div class="span10">
					<div>
						<div class="offset4"><h3>Donations</h3></div>
		                <table class="table table-bordered table-striped table-hover">
		                	<thead>
		                		<tr>
		                			<th>Name</th><th>Address</th><th>Email</th><th>Amount</th><th>Date</th>
		                		</tr>
		                	</thead>
		                	<tbody>
		                		@foreach (Donation donation in Model.Donations)
				                {
				                    <tr>
				                        <td>@donation.FirstName @donation.LastName</td><td>@donation.Address @donation.City @donation.State</td><td>@donation.Email</td><td>@donation.Amount</td><td>@donation.DateOfTransaction</td>
				                    </tr>
				                }
		                	</tbody>
		                </table>
		                <div class="span3 box">
			                <div><span class="span2"><strong>Total Raised:</strong> $@Model.AmountRaised</span></div>
			                <div><span class="span2"><strong>Total Remaining:</strong> $@(Model.FundraisingAmount - Model.AmountRaised)</span></div>
			             </div>
		            </div>
			</div>	
		</div>

	  	<hr>

		<footer>
			<p>&copy; AFS USA</p>
		</footer>
	</div> <!-- /container -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
