@model IEnumerable<SponsorAnAFSer.Models.StudentWidget>

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="span3"></div>
    <div class="span9 alert-error">@ViewBag.WSError</div>
</div>
<div class="row">
			<div class="span3"></div>
			<div class="span9">
				@using (Html.BeginForm("Search", "Home", FormMethod.Post, new {@class = "form-search"}))
                {
                    <div class="span2"><label>Widget Search: </label></div>
				  
                    <input id="searchBox" name="searchBox" type="text" class="input-medium search-query" value="">
                    <button type="submit" name="search" class="btn">Search</button>
                }
			</div>
		</div>
		<div class="row">
			<div class="span3"></div>
			<div class="span9">
				@using (Html.BeginForm("CreateFromServiceId", "Home", FormMethod.Post, new { @class = "form-search" }))
				{
				    <div class="span2"><label>Create Widget Form: </label></div>
				        <input id="serviceId " name="serviceId" type="text" class="input-medium search-query" /> 
				        <button type="submit" name="create" class="btn">Create</button>
                }
			</div>
		</div>
		<div class="row">
			<div class="span2">
			</div>
			<div class="span10">
				<ul id="NavTab" class="nav nav-tabs">
					<li class="active">
						<a href="#activeWidgets" data-toggle="tab">Active</a>
					</li>
					<li>
						<a href="#inactiveWidgets" data-toggle="tab">Inactive</a>
					</li>
				</ul>
				<div id="NavTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="activeWidgets">
		                <table class="table table-bordered table-striped table-hover">
		                	<thead>
		                		<tr>
		                			<th>Name</th><th>State</th><th>Dest.</th><th>Prog. Code</th><th>Area Team</th><th>Amt. Raised</th><th>%Goal</th><th class="{sorter: false}"></th>
		                		</tr>
		                	</thead>
		                    <tbody>
		                        @foreach (var item in Model.Where(m => m.EnabledStatus.Equals(1)))
		                        {
                                    var perc = decimal.Round((item.AmountRaised * 100 / item.FundraisingAmount));
		                            <tr>
		                                <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
		                                <td>@Html.DisplayFor(modelItem => item.State)</td>
		                                <td>@Html.DisplayFor(modelItem => item.DestinationCountry)</td>
		                                <td>@Html.DisplayFor(modelItem => item.ProgramRefCode)</td>
		                                <td>@Html.DisplayFor(modelItem => item.AreaTeam)</td>
		                                <td>@Html.DisplayFor(modelItem => item.AmountRaised)</td>
		                                <td>@perc %</td>
                                        <td>@Html.ActionLink("View/Edit", "Edit", new { id = item.StudentWidgetId })</td>
		                            </tr>
                                }
		                    </tbody>
		                </table>
		            </div>
		            <div class="tab-pane fade" id="inactiveWidgets">
		                <table class="table table-bordered table-striped table-hover">
		                	<thead>
		                		<tr>
		                			<th>Name</th><th>State</th><th>Dest.</th><th>Prog. Code</th><th>Area Team</th><th>Amt. Raised</th><th>%Goal</th><th class="{sorter: false}"></th>
		                		</tr>
		                	</thead>
		                	<tbody>
		                		@foreach (var item in Model.Where(m => m.EnabledStatus.Equals(0)))
		                        {
                                    var perc = decimal.Round((item.AmountRaised * 100 / item.FundraisingAmount));
		                            <tr>
		                                <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
		                                <td>@Html.DisplayFor(modelItem => item.State)</td>
		                                <td>@Html.DisplayFor(modelItem => item.DestinationCountry)</td>
		                                <td>@Html.DisplayFor(modelItem => item.ProgramRefCode)</td>
		                                <td>@Html.DisplayFor(modelItem => item.AreaTeam)</td>
		                                <td>@Html.DisplayFor(modelItem => item.AmountRaised)</td>
		                                <td>@perc %</td>
                                        <td>@Html.ActionLink("View/Edit", "Edit", new { id = item.StudentWidgetId })</td>
		                            </tr>
                                }
		                	</tbody>
		                </table>
		            </div>
				</div>
			</div>
			
			
		</div>
